extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Sign in to our Passport app
					div.account-wall
						img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
						a(href='/auth/google', class='text-center') Sign in with Google
					#message
					if message
						h1.text-center.error-message #{message}
